body{
    text-align: center;
    background-image: url(360_F_345048267_avDiFyLxvHTqoL47X54tKPlX06im8X9Z.jpg);
    background-size: cover;
}
.one{
   color:green;

}
.submit{
    padding-top: 20%;
}